In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
movies = pd.read_csv('Movies.csv')
places = pd.read_csv('Places.csv')
dialogues = pd.read_csv('Dialogue.csv', encoding = 'latin-1')
data = pd.read_csv('Data_Dictionary.csv')
spells = pd.read_csv('Spells.csv')
characters = pd.read_csv('Characters.csv', encoding = 'latin-1')
chapters = pd.read_csv('Chapters.csv', encoding = 'latin-1')

In [72]:
dialogues.head()

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue
0,1,1,8,4,I should have known that you would be here...P...
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru..."
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad."
3,4,1,8,7,And the boy?
4,5,1,8,4,Hagrid is bringing him.

In [73]:
dialogues.shape

(7444, 5)

In [74]:
chapters.head()

   Chapter ID         Chapter Name  Movie ID  Movie Chapter
0           1    Doorstep Delivery         1              1
1           2  The Vanishing Glass         1              2
2           3  Letters from No One         1              3
3           4   Keeper of the Keys         1              4
4           5         Diagon Alley         1              5

In [75]:
chapters.shape

(234, 4)

In [76]:
places.head()

   Place ID                Place Name Place Category
0         1         Flourish & Blotts   Diagon Alley
1         2  Gringotts Wizarding Bank   Diagon Alley
2         3           Knockturn Alley   Diagon Alley
3         4               Ollivanders   Diagon Alley
4         5        The Leaky Cauldron   Diagon Alley

In [77]:
places.shape

(74, 3)

In [78]:
characters.head()

,Character ID,Character Name,Species,Gender,House,Patronus,Wand (Wood),Wand (Core)
0,1,Harry Potter,Human,Male,Gryffindor,Stag,Holly,Phoenix Feather
1,2,Ron Weasley,Human,Male,Gryffindor,Jack Russell Terrier,NaN,NaN
2,3,Hermione Granger,Human,Female,Gryffindor,Otter,Vine,Dragon Heartstring
3,4,Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair
4,5,Rubeus Hagrid,Half-Human/Half-Giant,Male,Gryffindor,NaN,Oak,NaN

In [79]:
characters.shape

(166, 8)

In [80]:
df = pd.DataFrame()

In [81]:
df = dialogues

In [82]:
df.head()

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue
0,1,1,8,4,I should have known that you would be here...P...
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru..."
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad."
3,4,1,8,7,And the boy?
4,5,1,8,4,Hagrid is bringing him.

In [83]:
df = pd.merge(df, characters, on='Character ID')

In [84]:
df.head()

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Character Name,Species,Gender,House,Patronus,Wand (Wood),Wand (Core)
0,1,1,8,4,I should have known that you would be here...P...,Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair
1,3,1,8,4,"I'm afraid so, Professor. The good, and the bad.",Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair
2,5,1,8,4,Hagrid is bringing him.,Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair
3,7,1,8,4,"Ah, Professor, I would trust Hagrid with my life.",Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair
4,9,1,8,4,"No problems, I trust, Hagrid?",Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair

In [85]:
df = pd.merge(df, chapters, on='Chapter ID')

In [86]:
df.head(2)

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Character Name,Species,Gender,House,Patronus,Wand (Wood),Wand (Core),Chapter Name,Movie ID,Movie Chapter
0,1,1,8,4,I should have known that you would be here...P...,Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair,Doorstep Delivery,1,1
1,3,1,8,4,"I'm afraid so, Professor. The good, and the bad.",Albus Dumbledore,Human,Male,Gryffindor,Phoenix,Elder,Thestral Tail Hair,Doorstep Delivery,1,1

In [87]:
df.shape

(7444, 15)

In [88]:
df = pd.merge(df, places, on='Place ID')

In [89]:
movies

,Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office
0,1,Harry Potter and the Philosopher's Stone,2001,152,"$125,000,000","$1,002,000,000"
1,2,Harry Potter and the Chamber of Secrets,2002,161,"$100,000,000","$880,300,000"
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,"$130,000,000","$796,700,000"
3,4,Harry Potter and the Goblet of Fire,2005,157,"$150,000,000","$896,400,000"
4,5,Harry Potter and the Order of the Phoenix,2007,138,"$150,000,000","$942,000,000"
5,6,Harry Potter and the Half-Blood Prince,2009,153,"$250,000,000","$943,200,000"
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,"$200,000,000","$976,900,000"
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,"$250,000,000","$1,342,000,000"

In [90]:
df = pd.merge(df, movies, on='Movie ID')

In [91]:
df.head(1)

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Character Name,Species,Gender,House,Patronus,...,Chapter Name,Movie ID,Movie Chapter,Place Name,Place Category,Movie Title,Release Year,Runtime,Budget,Box Office
0,1,1,8,4,I should have known that you would be here...P...,Albus Dumbledore,Human,Male,Gryffindor,Phoenix,...,Doorstep Delivery,1,1,4 Privet Drive,Dwellings,Harry Potter and the Philosopher's Stone,2001,152,"$125,000,000","$1,002,000,000"

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7444 entries, 0 to 7443
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dialogue ID     7444 non-null   int64
 1   Chapter ID      7444 non-null   int64
 2   Place ID        7444 non-null   int64
 3   Character ID    7444 non-null   int64
 4   Dialogue        7444 non-null   object
 5   Character Name  7444 non-null   object
 6   Species         7280 non-null   object
 7   Gender          7280 non-null   object
 8   House           6527 non-null   object
 9   Patronus        4951 non-null   object
 10  Wand (Wood)     4600 non-null   object
 11  Wand (Core)     4339 non-null   object
 12  Chapter Name    7444 non-null   object
 13  Movie ID        7444 non-null   int64
 14  Movie Chapter   7444 non-null   int64
 15  Place Name      7444 non-null   object
 16  Place Category  7444 non-null   object
 17  Movie Title     7444 non-null   object
 18  Release Year    7444 non-null   int64
 19  Runtime         7444 non-null   int64
 20  Budget          7444 non-null   object
 21  Box Office      7444 non-null   object
dtypes: int64(8), object(14)
memory usage: 1.2+ MB

In [93]:
df = df[['Character Name', 'Dialogue']]

In [94]:
df.head()

     Character Name                                           Dialogue
0  Albus Dumbledore  I should have known that you would be here...P...
1  Albus Dumbledore   I'm afraid so, Professor. The good, and the bad.
2  Albus Dumbledore                            Hagrid is bringing him.
3  Albus Dumbledore  Ah, Professor, I would trust Hagrid with my life.
4  Albus Dumbledore                      No problems, I trust, Hagrid?

In [95]:
df['Character Name'].value_counts()

Character Name
Harry Potter        1922
Ron Weasley          865
Hermione Granger     848
Albus Dumbledore     474
Rubeus Hagrid        228
                    ...
Dilys Derwent          1
Waiter                 1
Crowd                  1
Pixie                  1
Photographer           1
Name: count, Length: 166, dtype: int64

In [96]:
df.groupby('Character Name')['Dialogue'].value_counts()

Character Name        Dialogue
Aberforth Dumbledore  Did he now? Nice job? Easy?                                                                                                                              1
                      You bloody fools! What were you thinking coming here? Do you have any idea how dangerous it is --                                                        1
                      You'll see soon enough.                                                                                                                                  1
                      You know what to do...                                                                                                                                   1
                      You don't strike me as a fool, Mr. Potter. So I'll ask you again. There must be a reason. Why do you trust anything my brother ever said to you? Why?    1
                                                                                                                                                                              ..
Xenophilius Lovegood  Excuse me.                                                                                                                                               1
                      Did, didn't I?  How silly of me.                                                                                                                         1
                      Ah.  Help.  I see.  Yes, well, the thing is, helping Harry Potter, rather dangerous these days...                                                        1
Zacharias Smith       How do we know You-Know-Who's really back?                                                                                                               1
                      Oh please. Professor Lockhart taught us that in second year.                                                                                             1
Name: count, Length: 7190, dtype: int64

In [97]:
df = df.groupby('Character Name')['Dialogue'].apply(lambda x: ' '.join(x)).reset_index()

In [98]:
df.head()

         Character Name                                           Dialogue
0  Aberforth Dumbledore  In here, Potter. You bloody fools! What were y...
1         Alastor Moody  Yeah, he's ruddy gorgeous.  What say we get un...
2      Albus Dumbledore  I should have known that you would be here...P...
3          Albus Potter  Will there really be thestrals pulling the car...
4         Alecto Carrow  Put a smile on, Miss Reynolds. Wouldn't want m...

In [99]:
df['Dialogue'] = df['Dialogue'].apply(lambda x: x.lower())

In [100]:
df.head()

         Character Name                                           Dialogue
0  Aberforth Dumbledore  in here, potter. you bloody fools! what were y...
1         Alastor Moody  yeah, he's ruddy gorgeous.  what say we get un...
2      Albus Dumbledore  i should have known that you would be here...p...
3          Albus Potter  will there really be thestrals pulling the car...
4         Alecto Carrow  put a smile on, miss reynolds. wouldn't want m...

In [101]:
df.shape

(166, 2)

In [102]:
df['Number of Words'] = df['Dialogue'].apply(lambda x: len(x.split()))

In [103]:
df.head()

,Character Name,Dialogue,Number of Words
0,Aberforth Dumbledore,"in here, potter. you bloody fools! what were y...",261
1,Alastor Moody,"yeah, he's ruddy gorgeous. what say we get un...",1196
2,Albus Dumbledore,i should have known that you would be here...p...,7653
3,Albus Potter,will there really be thestrals pulling the car...,23
4,Alecto Carrow,"put a smile on, miss reynolds. wouldn't want m...",20

In [104]:
df.shape

(166, 3)

In [105]:
new_df = df[df['Number of Words'] > 52].sort_values('Number of Words', ascending=False)

In [106]:
new_df.shape

(89, 3)

In [107]:
new_df.head()

,Character Name,Dialogue,Number of Words
66,Harry Potter,"yes, aunt petunia. yes, uncle vernon. he's asl...",13970
2,Albus Dumbledore,i should have known that you would be here...p...,7653
68,Hermione Granger,"it's not real, the ceiling. it's just bewitche...",7634
129,Ron Weasley,"mental that one, i'm telling you. there isn't ...",6916
131,Rubeus Hagrid,"professor dumbledore, sir. professor mcgonagal...",3473

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english', max_features=2500)

In [109]:
embeddings = cv.fit_transform(new_df['Dialogue']).toarray()

In [110]:
embeddings

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [111]:
embeddings.shape

(89, 2500)

In [112]:
embeddings = embeddings.astype('float64')

In [113]:
from sklearn.manifold import TSNE

In [114]:
tsne = TSNE(n_components=2, verbose=1, random_state=123)
z = tsne.fit_transform(embeddings)

[t-SNE] Computing 88 nearest neighbors...
[t-SNE] Indexed 89 samples in 0.002s...
[t-SNE] Computed neighbors for 89 samples in 0.085s...
[t-SNE] Computed conditional probabilities for sample 89 / 89
[t-SNE] Mean sigma: 5.566522
[t-SNE] KL divergence after 250 iterations with early exaggeration: 66.584267
[t-SNE] KL divergence after 900 iterations: 0.295746

In [115]:
z.shape

(89, 2)

In [116]:
z

array([[-9.08325315e-01,  1.61770201e+00],
       [-3.50323111e-01,  1.10993218e+00],
       [-7.78027534e-01,  1.49921000e+00],
       [-7.63604522e-01,  1.47225845e+00],
       [-4.01807189e-01,  1.07415831e+00],
       [ 2.49225879e+00,  4.20629606e-02],
       [-3.86496037e-01, -1.12659140e-02],
       [-1.86080277e+00, -3.45634794e+00],
       [-1.24008864e-01,  8.19526851e-01],
       [ 6.35897756e-01,  5.16246259e-01],
       [ 2.12801790e+00, -6.89058974e-02],
       [ 1.87377989e+00, -1.43815801e-01],
       [ 9.45282578e-02,  4.02449965e-01],
       [ 2.96951938e+00, -3.36659694e+00],
       [ 2.51566678e-01,  4.31118429e-01],
       [-1.51647401e+00, -3.57708716e+00],
       [ 4.98922139e-01, -9.59446132e-01],
       [-3.68036896e-01, -1.63063908e+00],
       [ 2.16063857e+00, -2.45934129e-01],
       [ 2.63421774e-01,  5.46709485e-02],
       [ 1.75697792e+00,  2.59941369e-01],
       [ 2.14934540e+00, -5.17132223e-01],
       [-1.28886676e+00, -2.15341377e+00],
       [-7.50959396e-01, -8.00007999e-01],
       [ 6.59289002e-01, -8.77764344e-01],
       [ 3.73454005e-01,  8.77586901e-02],
       [ 4.74226475e-01, -8.76284763e-02],
       [-6.62643850e-01, -7.59212375e-01],
       [ 7.81624615e-01, -5.09261799e+00],
       [-7.09236801e-01, -1.83363414e+00],
       [-4.54603076e-01, -4.24704409e+00],
       [-5.12172401e-01, -3.93892932e+00],
       [-6.04938328e-01, -2.56887078e+00],
       [-9.98205304e-01, -3.67125082e+00],
       [-5.61328113e-01, -3.22726202e+00],
       [ 2.73485518e+00, -2.21661901e+00],
       [ 1.93238628e+00, -4.37781286e+00],
       [ 1.18534720e+00, -1.48517716e+00],
       [ 2.14423251e+00, -2.15813041e+00],
       [-3.91387671e-01, -2.89944291e+00],
       [ 5.95883787e-01, -1.45779097e+00],
       [ 4.50181723e-01, -4.53625631e+00],
       [-8.73302937e-01, -2.35032749e+00],
       [ 1.63328063e+00, -2.11701488e+00],
       [ 3.28179938e-03, -4.58540154e+00],
       [-1.40515700e-01, -3.57111692e+00],
       [ 2.11967421e+00, -1.58840597e+00],
       [ 1.54146001e-01, -1.87922287e+00],
       [ 1.65574193e+00, -1.76799440e+00],
       [ 1.39282405e+00, -4.05006933e+00],
       [ 2.00071171e-01, -2.40879822e+00],
       [ 9.05841410e-01, -3.77525449e+00],
       [ 7.71600485e-01, -1.95848489e+00],
       [ 6.27367735e-01, -3.64904356e+00],
       [ 1.57941210e+00, -3.43667316e+00],
       [ 1.59101796e+00, -4.85606527e+00],
       [ 4.44093853e-01, -3.52741718e+00],
       [ 2.52594328e+00, -4.20099545e+00],
       [ 1.01456463e+00, -4.42803240e+00],
       [ 2.29958272e+00, -3.50057101e+00],
       [ 1.83262587e+00, -2.97716546e+00],
       [ 1.75993228e+00, -3.75796986e+00],
       [ 2.41997075e+00, -2.69768786e+00],
       [ 1.28126013e+00, -3.29196024e+00],
       [ 4.80874389e-01, -3.05311942e+00],
       [ 7.68710434e-01, -2.58263612e+00],
       [ 4.46129620e-01, -2.75896049e+00],
       [ 7.97351956e-01, -2.01168823e+00],
       [ 1.31833017e+00, -3.18387461e+00],
       [ 1.02215481e+00, -2.69763350e+00],
       [ 7.27064431e-01, -2.96559811e+00],
       [ 7.40352333e-01, -2.26904416e+00],
       [ 1.01666772e+00, -2.97059774e+00],
       [ 1.01133490e+00, -2.95888448e+00],
       [ 1.70838642e+00, -2.93611336e+00],
       [ 8.00146461e-01, -2.77410054e+00],
       [ 4.24430758e-01, -3.06482363e+00],
       [ 1.27424622e+00, -2.66661739e+00],
       [ 7.51874983e-01, -3.15823030e+00],
       [ 9.30563927e-01, -3.04682803e+00],
       [ 1.02361822e+00, -3.07394695e+00],
       [ 1.03479934e+00, -3.07345390e+00],
       [ 9.61692929e-01, -3.10867453e+00],
       [ 7.76431143e-01, -3.18868518e+00],
       [ 9.52391088e-01, -3.06549048e+00],
       [ 3.05989313e+00, -2.70338082e+00],
       [ 9.54993606e-01, -3.09979081e+00],
       [ 9.27559972e-01, -3.13652062e+00],
       [ 8.17775607e-01, -2.94988608e+00]], dtype=float32)

In [117]:
new_df['x'] = z.T[0]
new_df['y'] = z.T[1]

In [118]:
new_df.head()

,Character Name,Dialogue,Number of Words,x,y
66,Harry Potter,"yes, aunt petunia. yes, uncle vernon. he's asl...",13970,-0.908325,1.617702
2,Albus Dumbledore,i should have known that you would be here...p...,7653,-0.350323,1.109932
68,Hermione Granger,"it's not real, the ceiling. it's just bewitche...",7634,-0.778028,1.499210
129,Ron Weasley,"mental that one, i'm telling you. there isn't ...",6916,-0.763605,1.472258
131,Rubeus Hagrid,"professor dumbledore, sir. professor mcgonagal...",3473,-0.401807,1.074158

In [119]:
new_df.rename(columns={'x': 'X', 'y': 'Y'}, inplace=True)

In [120]:
new_df.head()

,Character Name,Dialogue,Number of Words,X,Y
66,Harry Potter,"yes, aunt petunia. yes, uncle vernon. he's asl...",13970,-0.908325,1.617702
2,Albus Dumbledore,i should have known that you would be here...p...,7653,-0.350323,1.109932
68,Hermione Granger,"it's not real, the ceiling. it's just bewitche...",7634,-0.778028,1.499210
129,Ron Weasley,"mental that one, i'm telling you. there isn't ...",6916,-0.763605,1.472258
131,Rubeus Hagrid,"professor dumbledore, sir. professor mcgonagal...",3473,-0.401807,1.074158

In [121]:
import plotly.express as px
fig = px.scatter(new_df.head(25), x='X', y='Y', color='Character Name')
fig.show()

In [122]:
df.to_csv('harry_potter_characters_with_dialogues.csv', index=False)